.cards-group {
  display: flex;
  flex-direction: column;
  gap: em(24);
  @include mobile {
    flex-direction: row;
    justify-content: center;
    gap: em(14);
  }
  &__upper {
    display: flex;
    gap: em(24);
    @include mobile {
      flex-direction: column;
      gap: em(14);
    }
  }
  &__lower {
    display: flex;
    gap: em(24);
    @include mobile {
      flex-direction: column;
      gap: em(14);
    }
  }
  &__big {
    display: flex;
    flex-direction: column;
    .service-card {
      height: em(470);
      @include mobile {
      height: em(270);

      }
    }
  }
}
