.cards-group {
  display: flex;
  flex-direction: column;
  gap: em(24);
  &__upper {
    display: flex;
    gap: em(24);
  }
  &__lower {
    display: flex;
    gap: em(24);
  }
  &__big {
    display: flex;
    flex-direction: column;
    .service-card  {
      height: em(470);
    }
  }
}
