section.hero
  .hero__text
    .hero__title
      span Ваш домашний ТВ Мир
    .hero__subtitle
      span Более 200 каналов и огромная библиотека фильмов и сериалов ваш лучший источник домашнего развлечения!
    .hero__actions
      .main-btn
        span Оформить подписку
      .main-btn
        span Смотреть тарифы
  .hero__slider
