include mixin/_image

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(
      rel="shortcut icon",
      href=require(`../assets/images/favicon.png`),
      type="image/png"
    )
    title Empty Project

    // Stylesheet for Swiper
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css")

  body
    //- include parts/header
    //- include main/hero
    //- include parts/spiner
    //- include main/promo
    //- include main/descr-movies
    //- include main/get
    //- include main/choose
    //- include main/where
    //- include main/tariff
    //- include main/blog
    include parts/footer
    include parts/footer-store

    // Script for Swiper
    script(src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js")

    // Initialize Swiper
    script.
      var swiper = new Swiper(".mySwiper", {
        direction: "vertical",
        slidesPerView: 1,
        spaceBetween: 30,
        mousewheel: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
      });
