footer.footer-store
  .footer-store__wrapper
    .footer-store__items
      .footer-store__item
        include ../../assets/images/footer-google.svg
      .footer-store__item
        include ../../assets/images/footer-apple.svg
      .footer-store__item
        include ../../assets/images/footer-smart.svg
      .footer-store__item
        include ../../assets/images/footer-lg.svg
