footer.footer
  .footer__contacts
    .footer__contacts-header
        include ../../assets/images/Logo.svg
    .footer__contacts-items
      .footer__contacts-item
        include ../../assets/images/icon-footer-phone.svg
        a(href='tel:+*2186') *2186
      .footer__contacts-item
        include ../../assets/images/icon-mail.svg
        a(href='mailto:info@redmax.tv') info@redmax.tv
      .footer__contacts-item
        include ../../assets/images/icon-location.svg
        a(href='https://www.google.com/maps/search/?api=1&query=Петах+тиква,+Амаль+58') Петах тиква / Амаль 58

  .footer__links
    .footer__links-column
      .footer__links-title
        span faq
      ul.footer__links-items
        li.footer__links-item
          a(href="#") 1 1243
        li.footer__links-item
          a(href="#") 122
        li.footer__links-item
          a(href="#") 1 1234
    .footer__links-column
      .footer__links-title
        span faq
      ul.footer__links-items
        li.footer__links-item
          a(href="#") 1 1243
        li.footer__links-item
          a(href="#") 122
        li.footer__links-item
          a(href="#") 1 1234
    .footer__links-column
      .footer__links-title
        span faq
      ul.footer__links-items
        li.footer__links-item
          a(href="#") 1 1243
        li.footer__links-item
          a(href="#") 122
        li.footer__links-item
          a(href="#") 1 1234
  .footer__form
    .footer__form-title
      span  ПОДКЛЮЧАЙТЕСЬ К REDMAX TV
    .footer__form-content
      .custom-input
        input(type="text" placeholder="Введите ваше имя")
      .custom-input
        input(type="text" placeholder="Введите ваше имя")
      .footer__form-actions
        .main-btn.main-btn--red
          span Подключиться
    .footer__form-social
