header.header
  a.header__logo(href="#")
    +image("Logo.png")
  .header__menu
    ul.header__list
      li.header__item.header__item--active
        span Redmax TV
        .header__dropdown
          .header__dropdown-left
            .header__dropdown-title
              p Redmax TV
            .header__dropdown-subtitle
              span Каналы
            .header__dropdown-subtitle
              span Возможности
          .header__dropdown-right
            .header__dropdown-title
              p Помощь
            .header__dropdown-subtitle
              span Вопросы и ответы
            .header__dropdown-subtitle
              span Декодеры
      li.header__item
        span Акции
        .header__dropdown
          .header__dropdown-left
            .header__dropdown-title
              p Акции
            .header__dropdown-subtitle
              span Акции
            .header__dropdown-subtitle
              span Акции и придложения
      li.header__item
        span Услуги
        .header__dropdown
          .header__dropdown-left
            .header__dropdown-title
              p Услуги
            .header__dropdown-subtitle
              span Обновление декодера
            .header__dropdown-subtitle
              span Оборудование
            .header__dropdown-subtitle
              span Переезд
          .header__dropdown-right
            .header__dropdown-title
              p Сотрудничество
            .header__dropdown-subtitle
              span О сотруднечестве
            .header__dropdown-subtitle
              span Реклама
      li.header__item
        span Тарифы
        .header__dropdown
          .header__dropdown-left
            .header__dropdown-title
              p Тарифы
            .header__dropdown-subtitle
              span Тарифные планы
            .header__dropdown-subtitle
              span Отмена сделки
      li.header__item
        span О Нас
        .header__dropdown
          .header__dropdown-left
            .header__dropdown-title
              p О Нас
            .header__dropdown-subtitle
              span Про Redmax
            .header__dropdown-subtitle
              span Отзывы
      li.header__item
        span Блог
        .header__dropdown
          .header__dropdown-left
            .header__dropdown-title
              p Блог
            .header__dropdown-subtitle
              span Последние новости
          .header__dropdown-right
            .header__dropdown-title
              p Полезно знать
            .header__dropdown-subtitle
              span IPTV в Европе
            .header__dropdown-subtitle
              span Телевиденье в Европе
            .header__dropdown-subtitle
              span Интернет в Европе
              span Отзывы
      li.header__item
        span Контакты
        .header__dropdown
          .header__dropdown-left
            .header__dropdown-title
              p Контакты
            .header__dropdown-subtitle
              span Телефон
            .header__dropdown-subtitle
              span E-MAIL
            .header__dropdown-subtitle
              span Локация
          .header__dropdown-right
            .header__dropdown-title
              p Социальные сети
            .header__dropdown-subtitle
              span Facebook
            .header__dropdown-subtitle
              span Instagram
            .header__dropdown-subtitle
              span Whats Up
  .header__actions
    .header__actions-call
      .main-btn.main-btn--sm
        +image("icon-phone.png")
        span *2186
    .header__actions-join
      .main-btn.main-btn--sm
        span Вход
    .header__actions-account
      .main-btn.main-btn--sm
        +image("Icon-user.png")
        span Акаунт
