.spinners
  .spinner.spinner--left
    .spiner__image#image1
      +image('spiner-img1.png')
    .spiner__image#image2
      +image('spiner-img2.png')
    .spiner__image#image3
      +image('spiner-img3.png')
    .spiner__image#image4
      +image('spiner-img4.png')
    .spiner__image#image5
      +image('spiner-img5.png')
    .spiner__image#image6
      +image('spiner-img6.png')
    .spiner__image#image7
      +image('spiner-img7.png')
    .spiner__image#image8
      +image('spiner-img8.png')
  .spinner.spinner--right
    .spiner__image#image1
      +image('spiner-img1.png')
    .spiner__image#image2
      +image('spiner-img2.png')
    .spiner__image#image3
      +image('spiner-img3.png')
    .spiner__image#image4
      +image('spiner-img4.png')
    .spiner__image#image5
      +image('spiner-img5.png')
    .spiner__image#image6
      +image('spiner-img6.png')
    .spiner__image#image7
      +image('spiner-img7.png')
    .spiner__image#image8
      +image('spiner-img8.png')
