.spinners
  .spinner.spinner--left
    .spiner__image#spiner-l-image1
      +image('spiner-img1.png')
    .spiner__image#spiner-l-image2
      +image('spiner-img2.png')
    .spiner__image#spiner-l-image3
      +image('spiner-img3.png')
    .spiner__image#spiner-l-image4
      +image('spiner-img4.png')
    .spiner__image#spiner-l-image5
      +image('spiner-img5.png')
    .spiner__image#spiner-l-image6
      +image('spiner-img6.png')
    .spiner__image#spiner-l-image7
      +image('spiner-img7.png')
    .spiner__image#spiner-l-image8
      +image('spiner-img8.png')
  .spinner.spinner--right
    .spiner__image#spiner-r-image1
      +image('spiner-img1.png')
    .spiner__image#spiner-r-image2
      +image('spiner-img2.png')
    .spiner__image#spiner-r-image3
      +image('spiner-img3.png')
    .spiner__image#spiner-r-image4
      +image('spiner-img4.png')
    .spiner__image#spiner-r-image5
      +image('spiner-img5.png')
    .spiner__image#spiner-r-image6
      +image('spiner-img6.png')
    .spiner__image#spiner-r-image7
      +image('spiner-img7.png')
    .spiner__image#spiner-r-image8
      +image('spiner-img8.png')
