.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 2;
  width: 100%;
  max-width: em(1920);
  margin: 0 auto;
  padding: 0 em(80);
  @include mobile {
    padding: 0 em(15);
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: em(912);
    width: 100%;
    margin: 0 auto;
    padding: em(96) em(15);
    gap: em(64);
    @include mobile {
      padding: em(46) em(15);
      gap: em(44);
    }
  }
  &__title {
    text-align: center;
    span {
      font-size: em(115);
      line-height: 130%;
      @include mobile {
        font-size: em(40);
      }
    }
  }
  &__subtitle {
    text-align: center;
    text-align: center;
    span {
      @include Inter300;

      font-size: em(28);
      line-height: 170%;
      color: rgba(255, 255, 255, 0.5);
      @include mobile {
        font-size: em(16);
      }
    }
  }
  &__actions {
    display: flex;
    gap: em(20);
    width: 100%;
    justify-content: center;
    @include mobile {
      width: 100%;
      justify-content: center;
    }
  }

  &__slider {
    display: flex;
    max-width: em(1144);
    height: em(643);
    width: 100%;
    margin: 0 auto;
    border: 2px solid #3b3b3b;
    border-radius: 24px;
    @include mobile {
      display: flex;
      width: 100%;
      height: calc(100vw * 0.7);
      flex-direction: column-reverse;
    }
  }
}
