.slider {
  position: relative;

  &__aside {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 10;
    padding: em(32) 0;
    background: #0b0b0b;
    border-radius: 20px 0 0 20px;

    height: 100%;
    @include mobile {
      padding: 0;
      flex-direction: row;
      height: 30%;
      bottom: 0;
      width: 100%;
      height: em(80);
      align-items: center;
      justify-content: center;
      border-radius: 0 0 20px 20px;
      background: #0b0b0bd6;
    }
  }
  &__aside:hover {
    .slider__aside-text {
      display: flex;
      @include mobile {
        display: none;
      }
    }
  }
  &__aside-item {
    display: flex;
    flex-wrap: nowrap;
    padding: em(20);
    cursor: pointer;
    @include mobile {
      padding: em(6) em(15);
    }
  }
  &__aside-item.active {
    span {
      color: $redActive;
      transition: all 0.24s ease-in-out;
    }
    .slider__aside-icon svg {
      fill: $redActive;
      transition: all 0.24s ease-in-out;
    }
  }
  &__aside-item:hover {
    background: #1d1d1d;
    transition: all 0.24s ease-in-out;
    span {
      color: $redActive;
      transition: all 0.24s ease-in-out;
    }
    .slider__aside-icon svg {
      fill: $redActive;
      transition: all 0.24s ease-in-out;
    }
  }
  &__aside-icon {
    display: flex;
    width: 100%;
    width: em(24);
    @include mobile {
      width: em(14);
    }
  }
  &__aside-icon svg {
    fill: #fff;
  }
  &__aside-text {
    display: none;
    align-items: center;
    min-width: em(100);
    padding-left: em(20);
    span {
      @include Inter600;
      font-size: em(20);
      @include mobile {
        font-size: em(14);
      }
    }
    @include mobile {
      min-width: em(60);
      padding-left: em(10);
    }
    img {
      @include mobile {
        max-width: em(60);
      }
    }
  }
  &__content {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: rgb(0, 0, 0);
    img {
      max-width: 100%;
      max-height: 100%;
      border-radius: 20px 20px 20px 20px;
    }
    @include mobile {
      overflow: hidden;
    }
  }

  &__search {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: #56515140;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    z-index: 2;
  }

  &__home,
  &__tv,
  &__cinema,
  &__arcive,
  &__fav {
    display: none;
    padding-left: em(200);
    @include mobile {
      padding-left: 0;
    }
  }
}

.slider__aside .slider__aside-item:first-child .slider__aside-icon,
.slider__aside .slider__aside-item:first-child .slider__aside-text {
  align-items: center;
  width: em(40);
  height: em(60);
  @include mobile {
    width: em(30);
    height: em(60);
  }
}
.slider__aside .slider__aside-item:first-child {
  padding: em(10);
  cursor: default;
}
.slider__aside .slider__aside-item:first-child .slider__aside-text {
  padding-left: 0;
  width: em(40);
  height: em(60);
  cursor: default;
}
