.where {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: em(1920);
  margin: 0 auto;
  padding: em(80);
  align-items: center;
  gap: em(120);
  background: rgba(255, 255, 255, 0.06);
  @include mobile {
    flex-direction: column;
    padding: em(40) em(15);
    gap: em(40);
  }
  &__title {
    text-align: center;
    span {
      @include Inter400;
      color: #fff;
      font-size: em(72);
      @include mobile {
        font-size: em(32);
      }
    }
  }
  &__cards {
    display: flex;
    align-items: center;
    gap: em(20);
    @include mobile {
      flex-direction: column;
    }
  }
}
