//- section.chanels-page
//-   .chanels-page__descr
//-     .chanels-page__text
//-       span Каналы на любой вкус
//-     .chanels-page__action
//-       .main-btn.main-btn--red
//-         span Получить список каналов
//-   .chanels-page__items
//-     .chanels-page__item
//-       .chanels-page__item-descr
//-         .chanels-page__item-title
//-           span Новостные каналы
//-         .chanels-page__item-subtitle
//-           span Будьте в курсе всех свежих новостей
//-       .chanels-page__item-list
//-         +image('chanel-1.png')
//-         +image('chanel-2.png')
//-         +image('chanel-1.png')
//-         +image('chanel-2.png')
//-         +image('chanel-1.png')
//-         +image('chanel-2.png')
//-         +image('chanel-1.png')
//-         +image('chanel-2.png')
//-     .chanels-page__item
//-       .chanels-page__item-descr
//-         .chanels-page__item-title
//-           span Новостные каналы
//-         .chanels-page__item-subtitle
//-           span Будьте в курсе всех свежих новостей
//-       .chanels-page__item-list
//-         +image('chanel-1.png')
//-         +image('chanel-2.png')
//-         +image('chanel-1.png')
//-         +image('chanel-2.png')
//-         +image('chanel-1.png')
//-         +image('chanel-2.png')
//-         +image('chanel-1.png')
//-         +image('chanel-2.png')
//-   .chanels-page__descr
//-     .chanels-page__text
//-       span Получите список всех каналов RedmaxTV
//-     .chanels-page__action
//-       .main-btn.main-btn--red
//-         span Получить список каналов
