section.blog
  .blog__title
    span Самый полезный ТВ-Блог
    .main-btn.main-btn--sm
      span Смотреть всё
      include ../../assets/images/icon-arrow.svg
  .blog__content
    .blog__post
      .blog__post-image
        +image('blog-image1.png')
      .blog__post-text
        span Развитие телекоммуникационной отрасли в современном мире испытывает настоящий бум, интернет телевидение в Израиле становится все более популярным среди населения. Рост этого направления связан с развитием сетевых технологий, повышением скорости передачи информации, появлением конкурентов на рынке. Вследствие этого произошло снижение стоимости предоставляемых услуг и расширение абонентской базы. Высокая скорость и качество работы сети дает возможность внедрить IP телевидение на всей территории Израиля.
        span Развитие телекоммуникационной отрасли в современном мире испытывает настоящий бум, интернет телевидение в Израиле становится все более популярным среди населения. Рост этого направления связан с развитием сетевых технологий, повышением скорости передачи информации, появлением конкурентов на рынке. Вследствие этого произошло снижение стоимости предоставляемых услуг и расширение абонентской базы. Высокая скорость и качество работы сети дает возможность внедрить IP телевидение на всей территории Израиля.
        a(href="#") Читать полностью
    .blog__stories
      .blog__storie
        .blog__storie-image
          +image('storie-image1.png')
        .blog__storie-text
          span Весенние премьеры Redmax TV
      .blog__storie
        .blog__storie-image
          +image('storie-image1.png')
        .blog__storie-text
          span Как правильно выбрать телевидение в Израиле?
      .blog__storie
        .blog__storie-image
          +image('storie-image1.png')
        .blog__storie-text
          span Новый телеканал Start Air
