section.chanels-page
  .page-descr
    .page-descr__text
      span Каналы на любой вкус
    .page-descr__action
      .main-btn.main-btn--red
        span Получить список каналов
  .chanels-page__items
    .chanels-page__item
      .chanels-page__item-descr
        .chanels-page__item-title
          span Новостные каналы
        .chanels-page__item-subtitle
          span Будьте в курсе всех свежих новостей
      .chanels-page__item-list
        +image('chanel-1.png')
        +image('chanel-2.png')
        +image('chanel-1.png')
        +image('chanel-2.png')
        +image('chanel-1.png')
        +image('chanel-2.png')
        +image('chanel-1.png')
        +image('chanel-2.png')
    .chanels-page__item
      .chanels-page__item-descr
        .chanels-page__item-title
          span Новостные каналы
        .chanels-page__item-subtitle
          span Будьте в курсе всех свежих новостей
      .chanels-page__item-list
        +image('chanel-1.png')
        +image('chanel-2.png')
        +image('chanel-1.png')
        +image('chanel-2.png')
        +image('chanel-1.png')
        +image('chanel-2.png')
        +image('chanel-1.png')
        +image('chanel-2.png')
  .page-descr
    .page-descr__text
      span Получите список всех каналов RedmaxTV
    .page-descr__action
      .main-btn.main-btn--red
        span Получить список каналов
