section.choose
  .choose__text
    .choose__title
      span Выбирайте из Более 200 каналов
    .choose__subtitle
      span Смотрите любимые фильмы, передачи и сериалы вместе с RedmaxTV на любых экранах!
    .choose__actions
      .call-actions
        .main-btn.main-btn--red
          span Оформить подписку
        .main-btn
            span Смотреть тарифы
            include ../../assets/images/icon-arrow.svg
  .choose__content
    .choose__content-img
      +image("iphone.png")
    .choose__content-animation
      .choose__content-animation-item.choose__content-animation-img1
        +image("TV LOGO1.png")
      .choose__content-animation-item.choose__content-animation-img2
        +image("TV LOGO2.png")
      .choose__content-animation-item.choose__content-animation-img3
        +image("TV LOGO3.png")
      .choose__content-animation-item.choose__content-animation-img4
        +image("TV LOGO4.png")
      .choose__content-animation-item.choose__content-animation-img5
        +image("TV LOGO5.png")
      .choose__content-animation-item.choose__content-animation-img6
        +image("TV LOGO6.png")
      .choose__content-animation-item.choose__content-animation-img7
        +image("TV LOGO7.png")
      .choose__content-animation-item.choose__content-animation-img8
        +image("TV LOGO8.png")
      .choose__content-animation-item.choose__content-animation-img9
        +image("TV LOGO9.png")
      .choose__content-animation-item.choose__content-animation-img10
        +image("TV LOGO10.png")
      .choose__content-animation-item.choose__content-animation-img11
        +image("TV LOGO11.png")



  //- .choose__cards
    .cards-group
      .cards-group__upper
        .service-card
          include ../../assets/images/servise-wallet.svg
          span Лучишие тарифы
        .service-card
          include ../../assets/images/service-tv.svg
          span 200+ Каналов в HD и 4K качестве
        .service-card
          include ../../assets/images/service-chat.svg
          span Техподдержка 24/7
      .cards-group__lower
        .service-card
          include ../../assets/images/service-cinema.svg
          span Обширная видеотека
        .service-card
          include ../../assets/images/service-pc.svg
          span Мультирум до 5 гаджетов
        .service-card
          include ../../assets/images/service-arh.svg
          span Архив на всё
