section.descr-movie
  .descr-movie__image
    +image("descr-movie.png")
  .descr-movie__text
    .descr-movie__title
      span Тысячи фильмов и сериалов
    .descr-movie__subtitle
      span Вы получаете доступ к широкому спектру жанров и стилей. Наслаждайтесь премьерами и классикой в высоком HD и 4K качестве. Изучайте, открывайте и переживайте величайшие истории всех времен, доступные прямо на вашем экране с RedmaxTV.
    .descr-movie__actions
      .call-actions
        .main-btn.main-btn--red
          span Оформить подписку
        .main-btn
            span Смотреть тарифы
            +image("icon-arrow.png")



//- include ../../assets/images/Icon-home.svg
//- +image("slider-favotite.png")
