section.possib-page
  .page-descr
    .page-descr__text
      span Возможности Redmax TV
    .page-descr__action
      .main-btn.main-btn--red
        span Получить список каналов
  .possib-page__cards
    .possib-page__card
      .possib-page__card-header
        include ../../assets/images/calendar_clock.svg
        .possib-page__card-text
          p Пробный период
          span Тысячи фильмов и сериалов в лучшем качестве
      .possib-page__card-descr
        .possib-page__card-line
          include ../../assets/images/icon-check.svg
          span Тысячи фильмов и сериалов в лучшем качестве
        .possib-page__card-line
          include ../../assets/images/icon-check.svg
          span Бесплатная возможность оценить сервис перед покупкой
        .possib-page__card-line
          include ../../assets/images/icon-check.svg
          span Наслаждайтесь бесплатным просмотром с качественным контентом и приятным интерфейсом
    .possib-page__card
      .possib-page__card-header
        include ../../assets/images/calendar_clock.svg
        .possib-page__card-text
          p Пробный период
          span Тысячи фильмов и сериалов в лучшем качестве
      .possib-page__card-descr
        .possib-page__card-line
          include ../../assets/images/icon-check.svg
          span Тысячи фильмов и сериалов в лучшем качестве
        .possib-page__card-line
          include ../../assets/images/icon-check.svg
          span Бесплатная возможность оценить сервис перед покупкой
        .possib-page__card-line
          include ../../assets/images/icon-check.svg
          span Наслаждайтесь бесплатным просмотром с качественным контентом и приятным интерфейсом

  //- .possib-page__items
  //-   .possib-page__item
  //-     .possib-page__item-descr
  //-       .possib-page__item-title
  //-         span Новостные каналы
  //-       .possib-page__item-subtitle
  //-         span Будьте в курсе всех свежих новостей
  //-     .possib-page__item-list
  //-       +image('chanel-1.png')
  //-       +image('chanel-2.png')
  //-       +image('chanel-1.png')
  //-       +image('chanel-2.png')
  //-       +image('chanel-1.png')
  //-       +image('chanel-2.png')
  //-       +image('chanel-1.png')
  //-       +image('chanel-2.png')
  //-   .possib-page__item
  //-     .possib-page__item-descr
  //-       .possib-page__item-title
  //-         span Новостные каналы
  //-       .possib-page__item-subtitle
  //-         span Будьте в курсе всех свежих новостей
  //-     .possib-page__item-list
  //-       +image('chanel-1.png')
  //-       +image('chanel-2.png')
  //-       +image('chanel-1.png')
  //-       +image('chanel-2.png')
  //-       +image('chanel-1.png')
  //-       +image('chanel-2.png')
  //-       +image('chanel-1.png')
  //-       +image('chanel-2.png')
  //- .page-descr
  //-   .page-descr__text
  //-     span Получите список всех каналов RedmaxTV
  //-   .page-descr__action
  //-     .main-btn.main-btn--red
  //-       span Получить список каналов
