section.faq
  .faq__questions
    .faq__regular
      .faq__title
        span Часто задаваемые вопросы
      .faq__items
        .faq__item
          .faq__item-title
            span Как продлить абонемент?
            include ../../assets/images/Icon-arrow--vertical.svg
          .faq__item-descr
            span Если вы оплачиваете кредитной картой и она активна, продление абонемента происходит автоматически по системе ораат кева ашрай (помесячная оплата без занимания кредитного лимита).
            span В случае оплаты ораат кева через банк, оплата также, происходит автоматически.
        .faq__item
          .faq__item-title
            span 2Как продлить абонемент?
          .faq__item-descr
            span Если вы оплачиваете кредитной картой и она активна, продление абонемента происходит автоматически по системе ораат кева ашрай (помесячная оплата без занимания кредитного лимита).
            span В случае оплаты ораат кева через банк, оплата также, происходит автоматически.
    .faq__tech
      .faq__title.faq__title--dark
        span Часто задаваемые вопросы
      .faq__items
        .faq__item
          .faq__item-title
            span Как продлить абонемент?
          .faq__item-descr
            span Если вы оплачиваете кредитной картой и она активна, продление абонемента происходит автоматически по системе ораат кева ашрай (помесячная оплата без занимания кредитного лимита).
            span В случае оплаты ораат кева через банк, оплата также, происходит автоматически.
        .faq__item
          .faq__item-title
            span 2Как продлить абонемент?
          .faq__item-descr
            span Если вы оплачиваете кредитной картой и она активна, продление абонемента происходит автоматически по системе ораат кева ашрай (помесячная оплата без занимания кредитного лимита).
            span В случае оплаты ораат кева через банк, оплата также, происходит автоматически.

  .page-descr
    .page-descr__text
      span Не нашли ответа на ваш вопрос?
    .page-descr__action
      .main-btn.main-btn--red
        include ../../assets/images/icon-phone.svg
        span Связаться с консультантом
  //- .faq-page__cards
  //-   .faq-page__card
  //-     .faq-page__card-header
  //-       include ../../assets/images/calendar_clock.svg
  //-       .faq-page__card-text
  //-         p Пробный период
  //-         span Тысячи фильмов и сериалов в лучшем качестве
  //-     .faq-page__card-descr
  //-       .faq-page__card-line
  //-         include ../../assets/images/icon-check.svg
  //-         span Тысячи фильмов и сериалов в лучшем качестве
  //-       .faq-page__card-line
  //-         include ../../assets/images/icon-check.svg
  //-         span Бесплатная возможность оценить сервис перед покупкой
  //-       .faq-page__card-line
  //-         include ../../assets/images/icon-check.svg
  //-         span Наслаждайтесь бесплатным просмотром с качественным контентом и приятным интерфейсом
  //-   .faq-page__card
  //-     .faq-page__card-header
  //-       include ../../assets/images/calendar_clock.svg
  //-       .faq-page__card-text
  //-         p Пробный период
  //-         span Тысячи фильмов и сериалов в лучшем качестве
  //-     .faq-page__card-descr
  //-       .faq-page__card-line
  //-         include ../../assets/images/icon-check.svg
  //-         span Тысячи фильмов и сериалов в лучшем качестве
  //-       .faq-page__card-line
  //-         include ../../assets/images/icon-check.svg
  //-         span Бесплатная возможность оценить сервис перед покупкой
  //-       .faq-page__card-line
  //-         include ../../assets/images/icon-check.svg
  //-         span Наслаждайтесь бесплатным просмотром с качественным контентом и приятным интерфейсом
