section.hero
  .hero__text
    .hero__title
      span Ваш домашний ТВ Мир
    .hero__subtitle
      span Более 200 каналов и огромная библиотека фильмов и сериалов ваш лучший источник домашнего развлечения!
    .hero__actions
      .main-btn
        span Оформить подписку
      .main-btn
        span Смотреть тарифы
  .hero__slider
    .slider
      .slider__aside
        .slider__aside-item
          .slider__aside-icon
            include ../../assets/images/Icon-search.svg
          .slider__aside-text
            span Поиск
        .slider__aside-item
          .slider__aside-icon
            include ../../assets/images/Icon-home.svg
          .slider__aside-text
            span Главная
        .slider__aside-item
          .slider__aside-icon
            include ../../assets/images/Icon-tv.svg
          .slider__aside-text
            span Телеканалы
        .slider__aside-item
          .slider__aside-icon
            include ../../assets/images/Icon-movie.svg
          .slider__aside-text
            span Кинозал
        .slider__aside-item
          .slider__aside-icon
            include ../../assets/images/Icon-folder.svg
          .slider__aside-text
            span Архив
        .slider__aside-item
          .slider__aside-icon
            include ../../assets/images/Icon-favorite.svg
          .slider__aside-text
            span Избранное
    .slider__content
      //- +image('poster.png')

