section.hero
  .hero__text
    .hero__title
      span Ваш домашний ТВ Мир
    .hero__subtitle
      span Более 200 каналов и огромная библиотека фильмов и сериалов ваш лучший источник домашнего развлечения!
    .hero__actions
      .main-btn
        span Оформить подписку
      .main-btn
        span Смотреть тарифы
        //-
        //-
  .hero__slider
    .hero__aside
      .hero__aside-logo
        .hero__aside-mini
          include ../../assets/images/Logo-svg.svg
        .hero__aside-fill
      .hero__aside-menu
        .hero__aside-item
          .hero__aside-mini
            include ../../assets/images/Icon-search.svg
          .hero__aside-full
            span Поиск
        .hero__aside-item
          .hero__aside-mini
            include ../../assets/images/Icon-home.svg
          .hero__aside-full
            span Главная
        .hero__aside-item
          .hero__aside-mini
            include ../../assets/images/Icon-tv.svg
          .hero__aside-full
            span Телеканалы
        .hero__aside-item
          .hero__aside-mini
            include ../../assets/images/Icon-movie.svg
          .hero__aside-full
            span Кинозал
        .hero__aside-item
          .hero__aside-mini
            include ../../assets/images/Icon-folder.svg
          .hero__aside-full
            span Архив
        .hero__aside-item
          .hero__aside-mini
            include ../../assets/images/Icon-favorite.svg
          .hero__aside-full
            span Избранное
    .slider__content
      //- .slider__upper
      //-   .slider__title
      //-     span Алиса не может ждать
      //-   .slider__chars
      //-     .slider__range
      //-       span Молодежное
      //-     .slider__genre
      //-       span Драмы
      //-     .slider__year
      //-       span 2022
      //-     .slider__extra
      //-       .point
      //-         span 1 Сезон
      //-       .point
      //-         span 18+
      //-   .slider__descr
      //-     span До пятнадцати лет Алиса не знает бед. Она живет простой жизнью подростка: ненавидит учебу, каждую неделю ждет выходных, делает уроки, слушается маму, дружит и впервые влюбляется. Но вдруг случается ужасное...
      //- .slider__lower

