section.hero
  .hero__text
    .hero__title
      span Ваш домашний ТВ Мир
    .hero__subtitle
      span Более 200 каналов и огромная библиотека фильмов и сериалов ваш лучший источник домашнего развлечения!
    .hero__actions
      .main-btn
        span Оформить подписку
      .main-btn
        span Смотреть тарифы
  .hero__slider#hero-slider-js
    .slider
      .slider__starter#slider-hide-js
        span
      .slider__aside
        .slider__aside-item
          .slider__aside-icon
            include ../../assets/images/Logo-svg.svg
          .slider__aside-text
            +image('logo-text.png')
            //- include ../../assets/images/Logo-text.svg
        .slider__aside-item
          .slider__aside-icon
            include ../../assets/images/Icon-search.svg
          .slider__aside-text
            span Поиск
        .slider__aside-item#slider-home-btn-js
          .slider__aside-icon
            include ../../assets/images/Icon-home.svg
          .slider__aside-text
            span Главная
        .slider__aside-item#slider-tv-btn-js
          .slider__aside-icon
            include ../../assets/images/Icon-tv.svg
          .slider__aside-text
            span Телеканалы
        .slider__aside-item#slider-movie-btn-js
          .slider__aside-icon
            include ../../assets/images/Icon-movie.svg
          .slider__aside-text
            span Кинозал
        .slider__aside-item#slider-arch-btn-js
          .slider__aside-icon
            include ../../assets/images/Icon-folder.svg
          .slider__aside-text
            span Архив
        .slider__aside-item#slider-fav-btn-js
          .slider__aside-icon
            include ../../assets/images/Icon-favorite.svg
          .slider__aside-text
            span Избранное
    .slider__content
      .slider__home#slider-home-js
        +image("slider-home2.png")
      .slider__tv#slider-tv-js
        +image("slider-tv2.png")
      .slider__cinema#slider-cinema-js
        +image("slider-cinema2.png")
      .slider__arcive#slider-arcive-js
        +image("slider-arcive2.png")
      .slider__fav#slider-fav-js
        +image("slider-favotite.png")
    .slider__starter#slider-starter-js
      span

