section.movie
  .movie__swiper
    .swiper.mySwiper
      .swiper-wrapper
        .swiper-slide(data-slide-index="0") Slide 1
        .swiper-slide(data-slide-index="1")
          +image('movie-image-full.png')
        .swiper-slide(data-slide-index="2") Slide 2
        .swiper-slide(data-slide-index="3") Slide 3
        .swiper-slide(data-slide-index="4") Slide 5
        .swiper-slide(data-slide-index="5") Slide 6
        .swiper-slide(data-slide-index="6") Slide 7
        .swiper-slide(data-slide-index="7") Slide 8
        .swiper-slide(data-slide-index="8") Slide 9
      .swiper-pagination
  //- .swiper.mySwiper
  //-   .swiper-wrapper
  //-     .swiper-slide Slide 1
  //-     .swiper-slide Slide 2
  //-     .swiper-slide Slide 3
  //-     .swiper-slide Slide 4
  //-     .swiper-slide Slide 5
  //-     .swiper-slide Slide 6
  //-     .swiper-slide Slide 7
  //-     .swiper-slide Slide 8
  //-     .swiper-slide Slide 9
  //-   .swiper-pagination
