section.promo
  .promo__wrapper
    .promo__title
      span Акции и предложения
    .promo__slider
      .swiper-pagination
      .swiper.mySwiper
        .swiper-wrapper
          .swiper-slide
            +image('image-1.png')
          .swiper-slide
            +image('promo-1.png')
          .swiper-slide
            +image('promo-1.png')
    .promo__line
      include ../../assets/images/promo-line.svg



