section.tariff
  .tariff__title
    span Лучшие тарифы
  .tariff__cards
    .tariff-card
      .tariff-card__grade
        span PREMUM
        include ../../assets/images/icon-star.svg
      .tariff-card__price
        p €15
        span в месяц
      .tariff-card__descr
        .tariff-card__descr-item
          include ../../assets/images/icon-check.svg
          span Более 100 каналов с <br> фильмами и сериалами
        .tariff-card__descr-item
          include ../../assets/images/icon-check.svg
          span Лучшее HD качество
      .tariff-card__actions
        .main-btn
            span Подключить сейчас
    .tariff-card.tariff-card--white
      .tariff-card__grade
        span STANDART
        include ../../assets/images/icon-star.svg
      .tariff-card__price
        p €5.90
        span в месяц
      .tariff-card__descr
        .tariff-card__descr-item
          include ../../assets/images/icon-check.svg
          span Более 100 каналов с <br> фильмами и сериалами
        .tariff-card__descr-item
          include ../../assets/images/icon-check.svg
          span Лучшее HD качество
      .tariff-card__actions
        .main-btn.main-btn--red
            span Подключить сейчас
    .tariff-card
      .tariff-card__grade
        span PREMUM
        include ../../assets/images/icon-star.svg
      .tariff-card__price
        p €0
        span в месяц
      .tariff-card__descr
        .tariff-card__descr-item
          include ../../assets/images/icon-check.svg
          span Более 100 каналов с <br> фильмами и сериалами
        .tariff-card__descr-item
          include ../../assets/images/icon-check.svg
          span 5-дневный бесплатный <br> доступ к RedmaxTV
      .tariff-card__actions
        .main-btn
            span Подключить сейчас


  //- .get__text
  //-   .get__title
  //-     span Получите всё и сразу!
  //-   .get__subtitle
  //-     span RedmaxTV собрало в себе лучшие качества, которые делают жизнь наших клиентов проще
  //-   .get__actions
  //-     .call-actions
  //-       .main-btn.main-btn--red
  //-         span Оформить подписку
  //-       .main-btn
  //-           span Смотреть тарифы
  //-           include ../../assets/images/icon-arrow.svg
  //- .get__cards
  //-   .cards-group
  //-     .cards-group__upper
  //-       .service-card
  //-         include ../../assets/images/servise-wallet.svg
  //-         span Лучишие тарифы
  //-       .service-card
  //-         include ../../assets/images/service-tv.svg
  //-         span 200+ Каналов в HD и 4K качестве
  //-       .service-card
  //-         include ../../assets/images/service-chat.svg
  //-         span Техподдержка 24/7
  //-     .cards-group__lower
  //-       .service-card
  //-         include ../../assets/images/service-cinema.svg
  //-         span Обширная видеотека
  //-       .service-card
  //-         include ../../assets/images/service-pc.svg
  //-         span Мультирум до 5 гаджетов
  //-       .service-card
  //-         include ../../assets/images/service-arh.svg
  //-         span Архив на всё
