section.where
  .where__title
    span Не знаете где смотреть?
      br
      | Выбор за вами
  .where__cards
    .cards-group
      .cards-group__upper
        .service-card
          include ../../assets/images/service-tv.svg
          span Телевизоры
        .service-card
          include ../../assets/images/service-phone.svg
          span Смартфоны
      .cards-group__lower
        .service-card
          include ../../assets/images/service-tablet.svg
          span Планшеты
        .service-card
          include ../../assets/images/sevrice-laptop.svg
          span Ноутбуки
    .cards-group
      .cards-group__big
        .service-card.service-card--big
          include ../../assets/images/service-pc.svg
          span 5 Гаджетов по 1 подписке
          .main-btn.main-btn--red
            span Оформить подписку
    .cards-group
      .cards-group__upper
        .service-card
          include ../../assets/images/service-apple.svg
          span Apple Mobile
        .service-card
          include ../../assets/images/service-samsung.svg
          span Samsung TV
      .cards-group__lower
        .service-card
          include ../../assets/images/servce-lg.svg
          span LG TV
        .service-card
          include ../../assets/images/service-android.svg
          span Android Mobile
  //- .get__text
  //-   .get__title
  //-     span Получите всё и сразу!
  //-   .get__subtitle
  //-     span RedmaxTV собрало в себе лучшие качества, которые делают жизнь наших клиентов проще
  //-   .get__actions
  //-     .call-actions
  //-       .main-btn.main-btn--red
  //-         span Оформить подписку
  //-       .main-btn
  //-           span Смотреть тарифы
  //-           include ../../assets/images/icon-arrow.svg
  //- .get__cards
  //-   .cards-group
  //-     .cards-group__upper
  //-       .service-card
  //-         include ../../assets/images/servise-wallet.svg
  //-         span Лучишие тарифы
  //-       .service-card
  //-         include ../../assets/images/service-tv.svg
  //-         span 200+ Каналов в HD и 4K качестве
  //-       .service-card
  //-         include ../../assets/images/service-chat.svg
  //-         span Техподдержка 24/7
  //-     .cards-group__lower
  //-       .service-card
  //-         include ../../assets/images/service-cinema.svg
  //-         span Обширная видеотека
  //-       .service-card
  //-         include ../../assets/images/service-pc.svg
  //-         span Мультирум до 5 гаджетов
  //-       .service-card
  //-         include ../../assets/images/service-arh.svg
  //-         span Архив на всё
