$selectionColor: #23a6d5;
$backgroundColor: #090909;
$mainTextColor: #fff;
$mainTextColorHalf: #ffffff80;
$lightGray: #2C2C2C;
$redActive: #df1f28;
$redMain: #F30D1E;

// Core
@import "core/mixins";
@import "core/reset";
@import "core/fonts";
@import "core/base";

// Parts
@import "parts/header";
@import "parts/hero";
@import "parts/slider";
@import "parts/promo";
@import "parts/descr-movie";
@import "parts/get-service";
@import "parts/choose";
@import "parts/where";
@import "parts/tariff";
@import "parts/blog";
@import "parts/footer";
@import "parts/footer-store";
@import "parts/chanels-page";
@import "parts/possib-page";

// Components
@import "components/options-sm";
@import "components/main-btn";
@import "components/custom-input";
@import "components/spiner";
@import "components/call-actions";
@import "components/cards-group";
@import "components/service-card";
@import "components/tariff-card";
@import "components/burger-menu";
@import "components/page-descr";
